In [2]:
import pandas as pd
import numpy as np
from selenium import webdriver 
import warnings
warnings.filterwarnings("ignore")
import time
import requests

from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import TimeoutException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import re

In [3]:
dr=webdriver.Chrome(r"C:\web driver\New Folder\chromedriverupdated2.exe")
dr.get('https://www.cardekho.com/used-cars+in+india')
dr.maximize_window()
time.sleep(5)

In [4]:
locations=[]
loc_tag=dr.find_elements('xpath',"//li[@class='gsc_col-xs-4 gsc_col-sm-3 gsc_col-md-2']/a")
for i in loc_tag:
    locations.append(i.get_attribute('href'))
locations

['https://www.cardekho.com/used-cars+in+ahmedabad',
 'https://www.cardekho.com/used-cars+in+bangalore',
 'https://www.cardekho.com/used-cars+in+mumbai',
 'https://www.cardekho.com/used-cars+in+jaipur',
 'https://www.cardekho.com/used-cars+in+gurgaon',
 'https://www.cardekho.com/used-cars+in+delhi-ncr',
 'https://www.cardekho.com/used-cars+in+chennai',
 'https://www.cardekho.com/used-cars+in+pune',
 'https://www.cardekho.com/used-cars+in+hyderabad',
 'https://www.cardekho.com/used-cars+in+kolkata',
 'https://www.cardekho.com/used-cars+in+agra',
 'https://www.cardekho.com/used-cars+in+lucknow']

In [5]:
dr.close()

In [6]:

Dict1={}
columns=["car_urls",'brand','city','variant','price','run','fuel','Trans']
for i in columns:
    Dict1[i]=[]
dr1=webdriver.Chrome(r"C:\web driver\New Folder\chromedriverupdated2.exe")    
for loc in locations[:4]:
    dr1.get(loc)
    dr1.maximize_window()
    time.sleep(3)


    for num in range(10):
        dr1.execute_script("window.scrollBy(0,1000)")
        current_url = dr1.current_url    
        time.sleep(2)
        
        tag1= dr1.find_elements("xpath","//div[@class='gsc_col-xs-7  carsName']/a")
        tag2=dr1.find_elements("xpath","//div[@class='gsc_col-xs-7  carsName']/a")
        tag3=dr1.find_elements('xpath',"//div[@class='car_variant']")
        tag4=dr1.find_elements('xpath',"//span[@class='amnt ']")
        tag5=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[1]")
        tag6=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[2]")   
        tag7=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[3]")

        for i,j,k,l,m,n,o in zip(tag1,tag2,tag3,tag4,tag5,tag6,tag7):
            Dict1['car_urls'].append(i.get_attribute('href'))
            Dict1['brand'].append(j.text)
            Dict1['city'].append(current_url.split('+')[-1])
            Dict1['variant'].append(k.text)
            Dict1['price'].append(l.text)
            Dict1['run'].append(m.text)
            Dict1['fuel'].append(n.text)
            Dict1['Trans'].append(o.text)

dr1.close()

In [7]:
df1=pd.DataFrame(Dict1)
print(df1.shape)
df1.head()

(2680, 8)

,car_urls,brand,city,variant,price,run,fuel,Trans
0,https://www.cardekho.com/buy-used-car-details/...,2016 Honda Jazz,ahmedabad,V CVT,6.28 Lakh,"39,821 kms",Petrol,Automatic
1,https://www.cardekho.com/buy-used-car-details/...,2018 Mahindra Marazzo,ahmedabad,M8,10.15 Lakh,"41,071 kms",Diesel,Manual
2,https://www.cardekho.com/buy-used-car-details/...,2015 Hyundai Grand i10,ahmedabad,Sportz,4.51 Lakh,"67,525 kms",Petrol,Manual
3,https://www.cardekho.com/buy-used-car-details/...,2019 Jeep Compass,ahmedabad,1.4 Limited Plus BSIV,16.78 Lakh,"32,294 kms",Petrol,Automatic
4,https://www.cardekho.com/buy-used-car-details/...,2016 Honda Jazz,ahmedabad,1.2 V AT i VTEC,6.29 Lakh,"15,385 kms",Petrol,Automatic

In [8]:
df1.to_csv(r"C:\Users\A\Documents\flip robo\created\Dataset/CarPricePrediction_Dataset1.csv")
df1.shape

(2680, 8)

In [10]:
dr1=webdriver.Chrome(r"C:\web driver\New Folder\chromedriverupdated2.exe")    
for loc in locations[4:7]:
    dr1.get(loc)
    dr1.maximize_window()
    time.sleep(3)


    for num in range(10):
        dr1.execute_script("window.scrollBy(0,1000)")
        current_url = dr1.current_url    
        time.sleep(2)
        
        tag1= dr1.find_elements("xpath","//div[@class='gsc_col-xs-7  carsName']/a")
        tag2=dr1.find_elements("xpath","//div[@class='gsc_col-xs-7  carsName']/a")
        tag3=dr1.find_elements('xpath',"//div[@class='car_variant']")
        tag4=dr1.find_elements('xpath',"//span[@class='amnt ']")
        tag5=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[1]")
        tag6=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[2]")   
        tag7=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[3]")

        for i,j,k,l,m,n,o in zip(tag1,tag2,tag3,tag4,tag5,tag6,tag7):
            Dict1['car_urls'].append(i.get_attribute('href'))
            Dict1['brand'].append(j.text)
            Dict1['city'].append(current_url.split('+')[-1])
            Dict1['variant'].append(k.text)
            Dict1['price'].append(l.text)
            Dict1['run'].append(m.text)
            Dict1['fuel'].append(n.text)
            Dict1['Trans'].append(o.text)

dr1.close()

In [11]:
df2=pd.DataFrame(Dict1)
print(df2.shape)
df2.head()

(4700, 8)

,car_urls,brand,city,variant,price,run,fuel,Trans
0,https://www.cardekho.com/buy-used-car-details/...,2016 Honda Jazz,ahmedabad,V CVT,6.28 Lakh,"39,821 kms",Petrol,Automatic
1,https://www.cardekho.com/buy-used-car-details/...,2018 Mahindra Marazzo,ahmedabad,M8,10.15 Lakh,"41,071 kms",Diesel,Manual
2,https://www.cardekho.com/buy-used-car-details/...,2015 Hyundai Grand i10,ahmedabad,Sportz,4.51 Lakh,"67,525 kms",Petrol,Manual
3,https://www.cardekho.com/buy-used-car-details/...,2019 Jeep Compass,ahmedabad,1.4 Limited Plus BSIV,16.78 Lakh,"32,294 kms",Petrol,Automatic
4,https://www.cardekho.com/buy-used-car-details/...,2016 Honda Jazz,ahmedabad,1.2 V AT i VTEC,6.29 Lakh,"15,385 kms",Petrol,Automatic

In [12]:
df2.to_csv(r"C:\Users\A\Documents\flip robo\created\Dataset/CarPricePrediction_Dataset2.csv")
df2.shape

(4700, 8)

In [13]:
dr1=webdriver.Chrome(r"C:\web driver\New Folder\chromedriverupdated2.exe")    
for loc in locations[7:10]:
    dr1.get(loc)
    dr1.maximize_window()
    time.sleep(3)


    for num in range(10):
        dr1.execute_script("window.scrollBy(0,1000)")
        current_url = dr1.current_url    
        time.sleep(2)
        
        tag1= dr1.find_elements("xpath","//div[@class='gsc_col-xs-7  carsName']/a")
        tag2=dr1.find_elements("xpath","//div[@class='gsc_col-xs-7  carsName']/a")
        tag3=dr1.find_elements('xpath',"//div[@class='car_variant']")
        tag4=dr1.find_elements('xpath',"//span[@class='amnt ']")
        tag5=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[1]")
        tag6=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[2]")   
        tag7=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[3]")

        for i,j,k,l,m,n,o in zip(tag1,tag2,tag3,tag4,tag5,tag6,tag7):
            Dict1['car_urls'].append(i.get_attribute('href'))
            Dict1['brand'].append(j.text)
            Dict1['city'].append(current_url.split('+')[-1])
            Dict1['variant'].append(k.text)
            Dict1['price'].append(l.text)
            Dict1['run'].append(m.text)
            Dict1['fuel'].append(n.text)
            Dict1['Trans'].append(o.text)

dr1.close()

In [14]:
df3=pd.DataFrame(Dict1)
print(df3.shape)
df3.head()

(6640, 8)

,car_urls,brand,city,variant,price,run,fuel,Trans
0,https://www.cardekho.com/buy-used-car-details/...,2016 Honda Jazz,ahmedabad,V CVT,6.28 Lakh,"39,821 kms",Petrol,Automatic
1,https://www.cardekho.com/buy-used-car-details/...,2018 Mahindra Marazzo,ahmedabad,M8,10.15 Lakh,"41,071 kms",Diesel,Manual
2,https://www.cardekho.com/buy-used-car-details/...,2015 Hyundai Grand i10,ahmedabad,Sportz,4.51 Lakh,"67,525 kms",Petrol,Manual
3,https://www.cardekho.com/buy-used-car-details/...,2019 Jeep Compass,ahmedabad,1.4 Limited Plus BSIV,16.78 Lakh,"32,294 kms",Petrol,Automatic
4,https://www.cardekho.com/buy-used-car-details/...,2016 Honda Jazz,ahmedabad,1.2 V AT i VTEC,6.29 Lakh,"15,385 kms",Petrol,Automatic

In [15]:
df3.to_csv(r"C:\Users\A\Documents\flip robo\created\Dataset/CarPricePrediction_Dataset3.csv")
df3.shape

(6640, 8)

In [16]:
dr1=webdriver.Chrome(r"C:\web driver\New Folder\chromedriverupdated2.exe")    
for loc in locations[10:]:
    dr1.get(loc)
    dr1.maximize_window()
    time.sleep(3)


    for num in range(10):
        dr1.execute_script("window.scrollBy(0,1000)")
        current_url = dr1.current_url    
        time.sleep(2)
        
        tag1= dr1.find_elements("xpath","//div[@class='gsc_col-xs-7  carsName']/a")
        tag2=dr1.find_elements("xpath","//div[@class='gsc_col-xs-7  carsName']/a")
        tag3=dr1.find_elements('xpath',"//div[@class='car_variant']")
        tag4=dr1.find_elements('xpath',"//span[@class='amnt ']")
        tag5=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[1]")
        tag6=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[2]")   
        tag7=dr1.find_elements('xpath',"//div[@class='truncate dotlist-2']/div[3]")

        for i,j,k,l,m,n,o in zip(tag1,tag2,tag3,tag4,tag5,tag6,tag7):
            Dict1['car_urls'].append(i.get_attribute('href'))
            Dict1['brand'].append(j.text)
            Dict1['city'].append(current_url.split('+')[-1])
            Dict1['variant'].append(k.text)
            Dict1['price'].append(l.text)
            Dict1['run'].append(m.text)
            Dict1['fuel'].append(n.text)
            Dict1['Trans'].append(o.text)

dr1.close()

In [17]:
df4=pd.DataFrame(Dict1)
print(df4.shape)
df4.head()

(7960, 8)

,car_urls,brand,city,variant,price,run,fuel,Trans
0,https://www.cardekho.com/buy-used-car-details/...,2016 Honda Jazz,ahmedabad,V CVT,6.28 Lakh,"39,821 kms",Petrol,Automatic
1,https://www.cardekho.com/buy-used-car-details/...,2018 Mahindra Marazzo,ahmedabad,M8,10.15 Lakh,"41,071 kms",Diesel,Manual
2,https://www.cardekho.com/buy-used-car-details/...,2015 Hyundai Grand i10,ahmedabad,Sportz,4.51 Lakh,"67,525 kms",Petrol,Manual
3,https://www.cardekho.com/buy-used-car-details/...,2019 Jeep Compass,ahmedabad,1.4 Limited Plus BSIV,16.78 Lakh,"32,294 kms",Petrol,Automatic
4,https://www.cardekho.com/buy-used-car-details/...,2016 Honda Jazz,ahmedabad,1.2 V AT i VTEC,6.29 Lakh,"15,385 kms",Petrol,Automatic

In [18]:
df4.tail()

,car_urls,brand,city,variant,price,run,fuel,Trans
7955,https://www.cardekho.com/buy-used-car-details/...,2018 Maruti Vitara Brezza,lucknow,VDi,6.93 Lakh,"94,515 kms",Diesel,Manual
7956,https://www.cardekho.com/buy-used-car-details/...,2019 Maruti Swift,lucknow,AMT VXI,6.20 Lakh,"35,919 kms",Petrol,Automatic
7957,https://www.cardekho.com/buy-used-car-details/...,2019 Tata Tiago,lucknow,1.2 Revotron XT,5.13 Lakh,"26,641 kms",Petrol,Manual
7958,https://www.cardekho.com/buy-used-car-details/...,2011 Toyota Etios Liva,lucknow,V,2.43 Lakh,"61,640 kms",Petrol,Manual
7959,https://www.cardekho.com/buy-used-car-details/...,2016 Renault KWID,lucknow,RXT Optional,2.43 Lakh,"51,985 kms",Petrol,Manual

In [19]:
df4.to_csv(r"C:\Users\A\Documents\flip robo\created\Dataset/CarPricePrediction_Dataset.csv")
df4.shape

(7960, 8)